<div
  class="d-flex flex-column align-items-center p-3"
  style="min-height: 100vh"
>
  <header
    class="mb-4 w-100 d-flex flex-column align-items-center p-3"
    style="max-width: 500px"
  >
    <div class="d-flex justify-content-center gap-2 flex-wrap p-3">
      <h2>Lägg till en ny bok</h2>
    </div>
    <app-theme-toggle></app-theme-toggle>
    <nav *ngIf="auth.isLoggedIn$ | async">
      <button
        *ngIf="!(auth.isLoggedIn$ | async)"
        (click)="router.navigate(['/login'])"
        class="btn btn-primary mx-3"
      >
        Logga in
      </button>
      <button
        *ngIf="auth.isLoggedIn$ | async"
        (click)="auth.logout(); router.navigate(['/'])"
        class="btn btn-outline-danger mx-3 my-2"
      >
        Logga ut
      </button>

      <button
        (click)="router.navigate(['/books'])"
        class="btn btn-outline-primary mx-3 my-2"
      >
        Böcker
      </button>
      <button
        (click)="router.navigate(['/quotes'])"
        class="btn btn-outline-secondary mx-3 my-2"
      >
        Mina citat
      </button>
    </nav>
  </header>
  <section class="mb-4 w-100" style="max-width: 500px">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="d-flex flex-column gap-3"
    >
      <label>Titel:</label>
      <input
        class="form-control"
        type="text"
        formControlName="title"
        placeholder="Titel"
      />
      <label>Författare:</label>
      <input
        class="form-control"
        type="text"
        formControlName="author"
        placeholder="Författare"
      />
      <label>Publiceringsdatum:</label>
      <input
        class="form-control"
        type="date"
        formControlName="publicationDate"
        placeholder="Publiceringsdatum"
      />
      <button type="submit" class="btn btn-success">
        <i class="fa-solid fa-save"></i> Spara
      </button>
    </form>
  </section>
  <p *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
