<div
  class="d-flex flex-column align-items-center p-3"
  style="min-height: 100vh"
>
  <header class="bg-light border-bottom mb-4 w-100" style="max-width: 500px">
    <div class="d-flex justify-content-center gap-2 flex-wrap p-3">
      <h2>Lägg till en ny bok</h2>
    </div>
  </header>
  <section class="mb-4 w-100" style="max-width: 500px">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="d-flex flex-column gap-3"
    >
      <label>Titel:</label>
      <input
        class="form-control"
        type="text"
        formControlName="title"
        placeholder="Titel"
      />
      <label>Författare:</label>
      <input
        class="form-control"
        type="text"
        formControlName="author"
        placeholder="Författare"
      />
      <label>Publiceringsdatum:</label>
      <input
        type="date"
        formControlName="publicationDate"
        placeholder="Publiceringsdatum"
      />
      <button type="submit" class="btn btn-success">
        <i class="fa-solid fa-save"></i> Spara
      </button>
    </form>
  </section>
  <p *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
