<div
  class="d-flex flex-column align-items-center p-3"
  style="min-height: 100vh"
>
  <header class="bg-light border-bottom mb-4 w-100" style="max-width: 500px">
    <div class="d-flex justify-content-center gap-2 flex-wrap p-3">
      <h2>Redigera bok</h2>
    </div>
  </header>
  <section class="mb-4 w-100" style="max-width: 500px">
    <form (ngSubmit)="save()" class="d-flex flex-column gap-3">
      <label>Titel:</label>
      <input
        class="form-control"
        type="text"
        [(ngModel)]="book.title"
        name="Title"
        placeholder="Titel"
      />

      <label>Författare:</label>
      <input
        class="form-control"
        type="text"
        [(ngModel)]="book.author"
        name="Författare"
        placeholder="Author"
      />

      <label>Publiceringsdatum:</label>
      <input
        class="form-control"
        type="date"
        [(ngModel)]="book.publicationDate"
        name="date"
      />

      <button type="submit" class="btn btn-success">
        <i class="fa-solid fa-save"></i>Spara
      </button>
    </form>
  </section>
</div>
