<div
  class="d-flex flex-column align-items-center p-3"
  style="min-height: 100vh"
>
  <header
    class="mb-4 w-100 d-flex flex-column align-items-center p-3"
    style="max-width: 500px"
  >
    <div class="d-flex justify-content-center gap-2 flex-wrap p-3">
      <h2>Lägg till nytt citat</h2>
    </div>
    <app-theme-toggle></app-theme-toggle>
    <nav *ngIf="auth.isLoggedIn$ | async">
      <button
        *ngIf="!(auth.isLoggedIn$ | async)"
        (click)="router.navigate(['/login'])"
        class="btn btn-primary mx-3"
      >
        Logga in
      </button>
      <button
        *ngIf="auth.isLoggedIn$ | async"
        (click)="auth.logout(); router.navigate(['/'])"
        class="btn btn-outline-danger mx-3 my-2"
      >
        Logga ut
      </button>

      <button
        (click)="router.navigate(['/books'])"
        class="btn btn-outline-primary mx-3 my-2"
      >
        Böcker
      </button>
      <button
        (click)="router.navigate(['/quotes'])"
        class="btn btn-outline-secondary mx-3 my-2"
      >
        Mina citat
      </button>
    </nav>
  </header>
  <section class="mb-4 w-100" style="max-width: 500px">
    <form (ngSubmit)="save()" class="d-flex flex-column gap-3">
      <div *ngIf="errorMessage" class="alert alert-warning">
        {{ errorMessage }}
      </div>

      <div class="mb-2">
        <label class="form-label">Text</label>
        <textarea
          class="form-control"
          [(ngModel)]="quote.text"
          name="text"
          rows="5"
          placeholder="Skriv ditt citat här..."
          required
        ></textarea>
      </div>

      <div class="mb-2">
        <label class="form-label">Author</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="quote.author"
          name="Författare"
          placeholder="Författare"
          required
        />
      </div>

      <button type="submit" class="btn btn-success">
        <i class="fa-solid fa-plus"></i> Spara
      </button>
    </form>
  </section>
</div>
