<div
  class="d-flex flex-column align-items-center p-3"
  style="min-height: 100vh"
>
  <header class="bg-light border-bottom mb-4 w-100" style="max-width: 500px">
    <div class="d-flex justify-content-center gap-2 flex-wrap p-3">
      <h2>Redigera citat</h2>
    </div>
  </header>
  <section class="mb-4 w-100" style="max-width: 500px">
    <form *ngIf="quote" (ngSubmit)="save()" class="d-flex flex-column gap-3">
      <div class="mb-2">
        <label>Citat:</label>
        <input
          [(ngModel)]="quote.text"
          name="text"
          class="form-control"
          required
        />
      </div>
      <div class="mb-2">
        <label>Författare:</label>
        <input
          [(ngModel)]="quote.author"
          name="Författare"
          type="text"
          class="form-control"
        />
      </div>

      <button type="submit" class="btn btn-success">
        <i class="fa-solid fa-save"></i> Spara
      </button>
    </form>
  </section>
</div>
