<div
  class="d-flex flex-column align-items-center p-3"
  style="min-height: 100vh"
>
  <header
    class="mb-4 w-100 d-flex flex-column align-items-center p-3"
    style="max-width: 550px"
  >
    <div class="d-flex justify-content-center gap-2 flex-wrap p-3">
      <h1 class="mb-4">Välkommen till Bok appen</h1>
    </div>
    <app-theme-toggle></app-theme-toggle>
    <nav *ngIf="auth.isLoggedIn$ | async">
      <button
        *ngIf="!(auth.isLoggedIn$ | async)"
        (click)="router.navigate(['/login'])"
        class="btn btn-primary mx-3"
      >
        Logga in
      </button>
      <button
        *ngIf="auth.isLoggedIn$ | async"
        (click)="auth.logout(); router.navigate(['/'])"
        class="btn btn-outline-danger mx-3 my-2"
      >
        Logga ut
      </button>

      <button
        (click)="router.navigate(['/books'])"
        class="btn btn-outline-primary mx-3 my-2"
      >
        Böcker
      </button>
      <button
        (click)="router.navigate(['/quotes'])"
        class="btn btn-outline-secondary mx-3 my-2"
      >
        Mina citat
      </button>
    </nav>
  </header>

  <section class="mb-4 w-100" style="max-width: 500px">
    <div class="text-center">
      <div class="d-flex justify-content-center gap-2 flex-wrap p-3"></div>
      <button
        *ngIf="!(auth.isLoggedIn$ | async)"
        class="btn btn-primary"
        (click)="router.navigate(['/login'])"
      >
        Logga in
      </button>

      <button
        *ngIf="auth.isLoggedIn$ | async"
        routerLink="/add-book"
        class="btn btn-success"
      >
        <i class="fa-solid fa-plus"></i> Lägg till en ny bok
      </button>
    </div>
  </section>

  <!-- Books Section -->
  <h2
    *ngIf="isLoggedIn"
    class="mb-3 text-center"
    style="max-width: 500px; width: 100%"
  >
    Dina böcker
  </h2>

  <div class="card p-3 shadow-sm mb-4" style="max-width: 500px; width: 100%">
    <div *ngIf="isLoggedIn && books.length > 0">
      <div
        *ngFor="let book of books"
        class="d-flex flex-column align-items-center mb-3"
      >
        <strong>{{ book.title }}</strong>
        <div>{{ book.author }}</div>
        <div>{{ book.publicationDate | date : "mediumDate" }}</div>
        <div class="d-flex justify-content-center gap-2 mt-2 flex-wrap">
          <button class="btn btn-sm btn-primary" (click)="editBook(book.id)">
            <i class="fa-solid fa-edit"></i>Redigera
          </button>
          <button class="btn btn-sm btn-danger" (click)="deleteBook(book.id)">
            <i class="fa-solid fa-trash"></i> Radera bok
          </button>
        </div>
      </div>
    </div>

    <p *ngIf="isLoggedIn && books.length === 0" class="text-center text-muted">
      Du har inga böcker ännu.
    </p>

    <p *ngIf="!isLoggedIn" class="text-center">
      Logga in för att se dina böcker.
    </p>
  </div>
</div>
